<section>
  <div class="container mt-5">
    <div class="row">
      {{#each products}}
      <div class="col-md-3 mb-4"> <div class="card" style="width: 18rem; height: 100%;">
          <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="{{this.Name}}" style="height: 200px; object-fit: contain;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{this.Name}}</h5>
            
            <div id="desc-container-{{this._id}}">
              <p class="card-text description-text truncated">{{this.Description}}</p>
              <a href="javascript:void(0)" class="read-more-link" onclick="toggleText('{{this._id}}')">Read more</a>
            </div>

            <a href="#" class="btn btn-primary mt-auto">Add to Cart</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>